{% extends "base.html" %}
{% block contentbody %}

<h1>Data Analytics</h1>
<div class = "container">
  <form method = "POST" id="main-form">

    <div class="form-group">
      <label for="SelectVis">Select Visualisation</label>
      <select class="form-control" id="SelectVis" name = "SelectVis" required>
        <option selected disabled> Select an option </option>
        <option value = 'linear'>Draw a Linear graph</option>
        <option value = 'random'>Draw a Random graph</option>
      </select>
    </div>

    {# Linear Graph fields #}
    <div class="form-group d-none" id ='linear-fields'>
      <label for="slope" class="col-form-label">Slope (Parameter a)</label>
      <input id="slope" name="slope" type="number" step="any" class="form-control">

      <label for="intercept" class="col-form-label">Y-intercept (Parameter b)</label>
      <input id="intercept" name="intercept" type="number" step="any" class="form-control">
    </div>

    {# Random Graph fields #}
    <div class="form-group d-none" id ='random-fields'>
      <label for="min" class="col-form-label">Minimum Value</label>
      <input id="min" name="min" type="number" step="any" class="form-control">

      <label for="max" class="col-form-label">Maximum Value</label>
      <input id="max" name="max" type="number" step="any" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Plot!</button>
  </form>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <h1>Plotly Graph Example</h1>
    <div id="chart" style="width: 100%; height: 500px;" class = "chart">

  {% if params %}

    <script type="text/javascript">
        var graphs = {{ params | safe}};
        Plotly.newPlot('chart', graphs.data, graphs.layout);
    </script>
  {% endif %}
</div>


</div>
{% endblock %}