{% extends "base.html" %}
{% block contentbody %}

<h1>Data Analytics</h1>
<div class = "container">
  <form method = "POST" id="main-form">
    
    {# Dropdown #}
    <div class="row">
        <div class="form-group">
          <label for="SelectVis">Select Visualisation</label>
          <select class="form-control" id="SelectVis" name = "SelectVis" required>
            <option selected disabled> Select an option </option>
            <option value = 'linear'>Draw a Linear graph</option>
            <option value = 'random'>Draw a Random graph</option>
          </select>
        </div>
    </div>

    {# Linear Graph fields #}
    <div class="form-group d-none row" id ='linear-fields'>
      <div class="col-md-6">
        <label for="slope" class="col-form-label">Slope (Parameter a)</label>
        <input id="slope" name="slope" type="number" step="any" class="form-control">
      </div>

      <div class="col-md-6">
        <label for="intercept" class="col-form-label">Y-intercept (Parameter b)</label>
        <input id="intercept" name="intercept" type="number" step="any" class="form-control">
      </div>
    </div>

    {# Random Graph fields #}
    <div class="form-group d-none row" id ='random-fields'>
      <div class="col-md-6">
        <label for="min" class="col-form-label">Minimum Value</label>
        <input id="min" name="min" type="number" step="any" class="form-control">
      </div>
      
      <div class="col-md-6">
        <label for="max" class="col-form-label">Maximum Value</label>
        <input id="max" name="max" type="number" step="any" class="form-control">
      </div>
    </div>

    {# Submit Button #}
    <div class="form-row">
      <button type="submit" class="btn btn-primary">Plot!</button>
    </div>
  </form>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <h6>Plotly Graph Example</h6>
  <div id="chart" style="width: 100%; height: 500px;" class = "chart">
      {% if params %}

        <script type="text/javascript">

          // Fetch JSON through parameters
            var graphs = {{ params | safe}};

          // Plot the visualisation in chart div
            Plotly.newPlot('chart', graphs.data, graphs.layout);
        </script>
      {% endif %}
  </div>
</div>

{% endblock %}