{% extends "base.html" %}
{% block contentbody %}

<img src = "{{url_for('static', filename = 'Therminer.jpg')}}" class="mx-auto d-block" height = "200px" alt = "Therminer logo"/>
<h4 class="text-center mb-5 display-4">Development Assignment</h4> 


<div class = "row g-0">
  <form method = "POST" id="main-form" class = "container bg-light col col-md-7 py-3 border border-5">
    
    {# Dropdown #}
        <div class="form-group row justify-content-center">
          <div class="col-md-6">
          <label for="SelectVis">Select Visualisation*</label>
          <select class="form-control" id="SelectVis" name = "SelectVis" required>
            <option selected disabled value=""> Select an option </option>
            <option value = 'linear'>Draw a Linear graph</option>
            <option value = 'random'>Draw a Random graph</option>
          </select>
        </div>
      </div>

    {# Linear Graph fields #}
    <div class="form-group d-none row justify-content-center" id ='linear-fields'>
      <div class="col-md-3">
        <label for="slope" class="col-form-label">Slope (Parameter a)*</label>
        <input id="slope" name="slope" type="number" step="any" class="form-control">
      </div>

      <div class="col-md-3">
        <label for="intercept" class="col-form-label">Y-intercept (Parameter b)*</label>
        <input id="intercept" name="intercept" type="number" step="any" class="form-control">
      </div>
    </div>

    {# Random Graph fields #}
    <div class="form-group d-none row justify-content-center" id ='random-fields'>
      <div class="col-md-3">
        <label for="min" class="col-form-label">Minimum Value*</label>
        <input id="min" name="min" type="number" step="any" class="form-control">
      </div>
      
      <div class="col-md-3">
        <label for="max" class="col-form-label">Maximum Value*</label>
        <input id="max" name="max" type="number" step="any" class="form-control">
      </div>
    </div>

    <p class="error-message text-center text-danger mt-2" id="form-error"></p>

    {# Submit Button #}
    <div class="form-group row justify-content-center">
      <div class="col-md-1 mt-4">
        <button type="submit" class="btn btn-primary">Plot!</button>
      </div>
    </div>
  </form>
</div>

{% if dashboard %}

<div class="container border border-3 my-5">
  <h6 class="text-center underline display-6">Plotly Visualisation</h6>
  <div id="chart" style="width: 100%; height: 500px;" class = "chart"></div>  
  
  {# Scripts #}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    // Fetch JSON through parameters
    var graphs = {{ dashboard | safe}};
    // Plot the visualisation in chart div
    Plotly.newPlot('chart', graphs.data, graphs.layout);

    function showinfo() {
      strElement = `<p> Minimum value of the dataset: `+ Math.min(...graphs.data[0].y) + `. <br /> Maximum value of the dataset: `+  Math.max(...graphs.data[0].y) + `</p>`
      document.getElementById('more-info').innerHTML+= strElement
    }
    </script>
</div>
<div class="container" id="more-info">
  <button onclick="showinfo()" class="btn btn-success">Show Min/Max</button>

  {% if other %}

  <table class="table table-success table-striped table-sm">
    {% for key,value in other.items() %}
      <tr>
          <td>{{ key }}</td>
          <td>{{ value }}</td>
      </tr>
    {% endfor %}
  </table>

  {% endif %}

</div>



{% endif %}
{% endblock %}